<div class="modal-header">
    <h3 class="modal-title">Add a Client</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
        
    </button>
</div>
<hr>
<div class="modal-body">
    <form class="text-center" [formGroup]="addReactiveForm">
        <div class="form-group row mb-2"> 
            <label for="inputPassword" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="firstName"  placeholder="firstname" value="{{client.firstName}}"/>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="inputPassword" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="lastName" placeholder="lastname" value="{{client.lastName}}"/>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="inputPassword" class="col-sm-4 col-form-label">Email </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="email" placeholder="email" value="{{client.email}}"/>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="inputPassword" class="col-sm-4 col-form-label">Phone</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="phoneNumber" placeholder="phone" value="{{client.phoneNumber}}" />
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="inputPassword" class="col-sm-4 col-form-label">Address </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="address" placeholder="address" value="{{client.address}}"/>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="inputPassword" class="col-sm-4 col-form-label">ICE </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" formControlName="ICE" placeholder="ice" value="{{client.ICE}}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Photo/Logo </label>
            <div class="col-sm-6">
                <input type="file" class="form-control" formControlName="logo" placeholder="photo" value="{{client.logo}}"/>
            </div>
        </div>
    </form>
</div> 
<hr>
<div class="modal-footer top1">
    <button type="button" class="btn btn-info" (click)="updateClient()">Update</button>
    <button type="button" class="btn btn-info" (click)="closeModal()">Close</button>
</div>