<form [formGroup]="clientFrm">
    <div class="modal-header">
        <h4 class="modal-title">{{client_id ? 'Edit' : 'Add'}} a Client</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <hr class="mt-0">
    <div class="modal-body py-0">
        <div>
            <div class="form-group row mb-2"> 
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col">
                    <input type="text" class="form-control" formControlName="firstName"  placeholder="Joe   " value="{{client?.firstName}}"/>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col">
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Doe" value="{{client?.lastName}}"/>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col">
                    <input type="text" class="form-control" formControlName="email" placeholder="xyz@exemple.xyz" value="{{client?.email}}"/>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div class="col">
                    <input type="text" class="form-control" formControlName="phoneNumber" placeholder="66xxxx" value="{{client?.phoneNumber}}" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col">
                    <textarea formControlName="address" class="form-control" rows="1">{{client?.address}}</textarea>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">ICE</label>
                <div class="col">
                    <input type="number" class="form-control" formControlName="ice" placeholder="XXXXXXX" value="{{client?.ice}}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Photo/Logo</label>
                <div class="col">
                    <input type="file" class="form-control" formControlName="logo" placeholder="photo" value="{{client?.logo}}"/>
                </div>
            </div>
        </div>
        <div class="text-center text-danger mb-0 mt-2">{{this.errMessage}}</div>
    </div> 
    <hr class="mb-0">
    <div class="modal-footer top1">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="submit" class="btn btn-primary text-white" (click)="updateClient()">{{client_id ? 'Save' : 'Add'}}</button>
    </div>
</form>