<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3>Clients</h3>
            <div class="btn btn-primary text-white" (click)="openAddEdit()">Add</div>
        </div>

        <div class="table-responsive">
            <table id="datatable" datatable class="table table-striped align-middle text-nowrap hover">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4"></th>
                        <th class="text-dark font-medium fs-4">Firstname</th>
                        <th class="text-dark font-medium fs-4">Lastname</th>
                        <th class="text-dark font-medium fs-4">Email</th>
                        <th class="text-dark font-medium fs-4">PhoneNumber</th>
                        <th class="text-dark font-medium fs-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let client of clients'>
                        <td class="p-2">
                            <img [src]="client.logo" [alt]="" height="50" style="border-radius: 5px;">
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{client.firstName}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{client.lastName}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{client.email}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{client.phoneNumber}}</h5>
                        </td>
                        <td class="text-center">
                            <a data-tip="edit" class="aMargin text-primary pointer p-2" title="Edit" (click)="openAddEdit(client.id)"><i class="bi bi-pencil-square"></i></a>
                            <a data-tip="delete" class="aMargin text-danger pointer p-2" title="Delete" (click)="deleteClient(client.id)"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>