<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Top Clients</h4>
                <h5 class="card-subtitle">Overview of the affairs</h5>
            
        <!-- title -->
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4"></th>
                        <th class="text-dark font-medium fs-4">Fullname</th>
                        <th class="text-dark font-medium fs-4">Email</th>
                        <th class="text-dark font-medium fs-4">ICE</th>
                        <th class="text-dark font-medium fs-4">Nbr Affair</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let client of topClients'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]=getImagePath(client.logo) alt="user" width="45" class="rounded-circle">
                            </div>
                        </td>
                       <td class="fs-4">{{client.fullname}}</td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{client.email}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{client.ice}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{client.count}}</h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
    
</div>